<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <context id="mysqlgenerator" targetRuntime="MyBatis3">
        <property name="autoDelimitKeywords" value="true"/>
        <!--可以使用``包括字段名，避免字段名与sql保留字冲突报错-->
        <property name="beginningDelimiter" value="`"/>
        <property name="endingDelimiter" value="`"/>

        <!-- 自动生成toString方法 -->
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <!-- 自动生成equals方法和hashcode方法 -->
        <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin"/>

        <!-- 非官方插件 https://github.com/itfsw/mybatis-generator-plugin -->
        <!-- 查询单条数据插件 -->
        <plugin type="com.itfsw.mybatis.generator.plugins.SelectOneByExamplePlugin"/>
        <!-- 查询结果选择性返回插件 -->
        <plugin type="com.itfsw.mybatis.generator.plugins.SelectSelectivePlugin"/>
        <!-- Example Criteria 增强插件 -->
        <plugin type="com.itfsw.mybatis.generator.plugins.ExampleEnhancedPlugin"/>
        <!-- 数据Model属性对应Column获取插件 -->
        <plugin type="com.itfsw.mybatis.generator.plugins.ModelColumnPlugin"/>
        <!-- 逻辑删除插件 -->
        <plugin type="com.itfsw.mybatis.generator.plugins.LogicalDeletePlugin">
            <!-- 这里配置的是全局逻辑删除列和逻辑删除值，当然在table中配置的值会覆盖该全局配置 -->
            <!-- 逻辑删除列类型只能为数字、字符串或者布尔类型 -->
            <property name="logicalDeleteColumn" value="deleted"/>
            <!-- 逻辑删除-已删除值 -->
            <property name="logicalDeleteValue" value="1"/>
            <!-- 逻辑删除-未删除值 -->
            <property name="logicalUnDeleteValue" value="0"/>
        </plugin>

        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <!--<property name="suppressAllComments" value="true"/>-->
        </commentGenerator>

        <!--数据库连接信息-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://127.0.0.1:3306/minimall?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC&amp;verifyServerCertificate=false&amp;useSSL=false"
                        userId="root"
                        password="123456"/>

        <javaTypeResolver>
            <property name="useJSR310Types" value="true"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.zcb.minimalldb.domain" targetProject="src/main/java"/>
        <sqlMapGenerator targetPackage="com.zcb.minimalldb.dao" targetProject="src/main/resources"/>
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.zcb.minimalldb.dao"
                             targetProject="src/main/java"/>
        <!--表名-->
        <!--<table tableName="user">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>-->
        <!--角色-->
       <!-- <table tableName="role">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>-->
        <!--权限-->
       <!-- <table tableName="permission">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>-->
        <!--管理员-->
        <!--<table tableName="admin">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
            <columnOverride column="role_ids" javaType="java.lang.Integer[]"
                            typeHandler="com.zcb.minimalldb.mybatis.JsonIntegerArrayTypeHandler"/>
        </table>-->
        <!--商品表-->
        <!--<table tableName="goods">-->
            <!--<generatedKey column="id" sqlStatement="MySql" identity="true"/>-->
            <!--<columnOverride column="gallery" javaType="java.lang.String[]"-->
                            <!--typeHandler="com.zcb.minimalldb.mybatis.JsonStringArrayTypeHandler"/>-->
        <!--</table>-->
        <!--广告表-->
        <!--<table tableName="ad">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>-->
        <!--分类表-->
        <!--<table tableName="category">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>-->
        <!--收货地址表-->
        <!--<table tableName="address">-->
            <!--<generatedKey column="id" sqlStatement="MySql" identity="true"/>-->
        <!--</table>-->
        <!--评论表-->
        <!--<table tableName="comment">-->
        <!--<generatedKey column="id" sqlStatement="MySql" identity="true"/>-->
        <!--<columnOverride column="pic_urls" javaType="java.lang.String[]"-->
                        <!--typeHandler="com.zcb.minimalldb.mybatis.JsonStringArrayTypeHandler"/>-->

        <!--</table>-->
        <!--回复表-->
        <!--<table tableName="reply">-->
            <!--<generatedKey column="id" sqlStatement="MySql" identity="true"/>-->
        <!--</table>-->
        <!--商品参数表-->
        <!--<table tableName="goods_attribute">-->
        <!--<generatedKey column="id" sqlStatement="MySql" identity="true"/>-->
        <!--</table>-->
        <!--常见问题表-->
        <!--<table tableName="issue">-->
            <!--<generatedKey column="id" sqlStatement="MySql" identity="true"/>-->
        <!--</table>-->
        <!--收藏表-->
        <!--<table tableName="collect">-->
            <!--<generatedKey column="id" sqlStatement="MySql" identity="true"/>-->
        <!--</table>-->
        <!--购物车-->
        <!--<table tableName="cart">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
            <columnOverride column="specifications" javaType="java.lang.String[]"
                            typeHandler="com.zcb.minimalldb.mybatis.JsonStringArrayTypeHandler"/>
        </table>-->
        <!--商品货品表-->
        <!--<table tableName="goods_product">-->
            <!--<generatedKey column="id" sqlStatement="MySql" identity="true"/>-->
            <!--<columnOverride column="specifications" javaType="java.lang.String[]"-->
                        <!--typeHandler="com.zcb.minimalldb.mybatis.JsonStringArrayTypeHandler"/>-->
        <!--</table>-->
        <!--商品规格-->
       <!-- <table tableName="goods_specification">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>-->
        <!--搜索历史-->
        <!--<table tableName="search_history">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>-->
        <!--关键字表-->
       <!-- <table tableName="keyword">
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>-->
        </context>
    </generatorConfiguration>